<style type="text/css" media="all">
/*<![CDATA[*/
/*Set formats for table*/
	.box {text-align:right;}
	.title {text-align:left;}
	.composer {text-align:left;}
	.arranger {text-align:left;}
/*]]>*/
</style>